{% extends 'Verifier/Header.html' %}
{% block content %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ViewNews</title>
</head>

<body>
    <form action="" method="post">
        {%csrf_token %}
        <h1 align="center">View Freelancers News</h1>
        <table border="1" align="center">
            <tr>
                <td>Sl.No</td>
                <td>Title</td>
                <td>Content</td>
                <td>Image</td>
                <td>District</td>
                <td>Category</td>
                <td>Subcategory</td>
                <td>Date</td>
                <td>Freelancer Details</td>
                <td>Action</td>
            </tr>
            {% for i in news %}
            <tr>
                <td>{{forloop.counter}}</td>
                <td>{{i.news_title}}</td>
                <td>{{i.news_content}}</td>
                <td><img src="{{i.news_image.url}}" alt="" width="100" height="100"></td>
                <td>{{i.user.place.district.district_name}}</td>
                <td>{{i.subcategory.category.category_name}}</td>
                <td>{{i.subcategory.subcategory_name}}</td>
                <td>{{i.news_date}}</td>
                <td>{{i.user.user_name}}</td>
                <td>
                    {% if i.news_status == 0 %}

                    <a href="{% url 'Verifier:ViewAccept' i.id %}">Accept</a> |
                    <a href="{% url 'Verifier:ViewReject' i.id %}">Reject</a>

                {% elif i.news_status == 1 %}
                    Verified - Waiting for Admin

                {% elif i.news_status == 2 %}
                    Rejected

                {% elif i.news_status == 3 %}
                    Amount set - waiting user

                {% elif i.news_status == 4 %}
                    User accepted amount

                {% elif i.news_status == 5 %}
                    User rejected amount

                {% elif i.news_status == 6 %}
                    Admin paid - waiting editor

                {% elif i.news_status == 7 %}
                    Editing by editor

                {% elif i.news_status == 8 %}
                    Edited - waiting confirmation

                {% elif i.news_status == 9 %}
                    Confirmed - waiting publish

                {% elif i.news_status == 10 %}
                    Published

                {% else %}
                    Status {{ i.news_status }}

                {% endif %}

                </td>
            </tr>
            {% endfor %}
        </table>

    </form>
</body>

</html>
{% if msg %}
<script>
    alert("{{msg}}")
    window.location = "{% url 'Verifier:ViewNewsF' %}";
</script>
{% endif %}

{% endblock %}