{% extends 'Admin/Header.html' %}
{% block content %}

<h3 align="center">Freelancer Type</h3>

<form action="" method="post">
    {% csrf_token %}

    <table border="1" align="center">

        <tr>
            <td>Freelancer Type</td>
            <td>
                <input type="text" name="txt_type" id="txt_type" required 
                value="{{ editdata.freelancer_type|default:'' }}">
            </td>
        </tr>

        <tr>
            <td colspan="2" align="center">
                <input type="submit" value="Submit">
            </td>
        </tr>

    </table>

</form>

<br><br>

<table border="1" align="center">

    <tr>
        <th>Sl.No</th>
        <th>Freelancer Type</th>
        <th>Action</th>
    </tr>

    {% for i in freelancer %}
    <tr>
        <td>{{forloop.counter}}</td>
        <td>{{i.freelancer_type}}</td>
        <td>
            <a href="{% url 'Admin:delfreelancer' i.id %}">Delete /  <a href="{% url 'Admin:editfreelancer' i.id %}">Edit</a>
        </td>
    </tr>
    {% empty %}
    <tr>
        <td colspan="3" align="center">No Freelancer Types Added</td>
    </tr>
    {% endfor %}

</table>

{% if msg %}
<script>
    alert("{{msg}}");
    window.location = "{% url 'Admin:freelancertype' %}";
</script>
{% endif %}

{% endblock %}