{% extends 'Admin/Header.html' %}
{% block content %}

<h3 align="center">Reply to Complaint</h3>

<table border="1" align="center" cellpadding="6">

    <tr>
        <td><strong>Title</strong></td>
        <td>{{ complaintdata.complaint_title }}</td>
    </tr>

    <tr>
        <td><strong>Content</strong></td>
        <td>{{ complaintdata.complaint_content }}</td>
    </tr>

</table>

<br>

<form action="" method="post">
    {% csrf_token %}

    <table border="1" align="center">

        <tr>
            <td>Reply</td>
            <td>
                <textarea name="txt_reply" id="txt_reply" rows="4" cols="40" required></textarea>
            </td>
        </tr>

        <tr>
            <td colspan="2" align="center">
                <input type="submit" value="Submit">
            </td>
        </tr>

    </table>

</form>

{% if msg %}
<script>
    alert("{{msg}}");
    window.location = "{% url 'Admin:viewComplaints' %}";
</script>
{% endif %}

{% endblock %}