{% extends 'Admin/Header.html' %}
{% block content %}

<h2 align="center">Uploaded Files</h2>

<table border="1" align="center" cellpadding="6">

    <tr>
        <th>Sl.No</th>
        <th>Photo</th>
        <th>Action</th>
    </tr>

    {% for i in UploadF %}
    <tr>
        <td>{{forloop.counter}}</td>

        <td>
            {% if i.upload_files %}
            <img src="{{i.upload_files.url}}" width="100" height="100">
            {% else %}
            No File
            {% endif %}
        </td>

        <td>
            {% if i.upload_files %}
            <a href="{{i.upload_files.url}}" target="_blank">View</a> |
            <a href="{{i.upload_files.url}}" download>Download</a>
            {% endif %}
        </td>
    </tr>

    {% empty %}
    <tr>
        <td colspan="3" align="center">No Files Uploaded</td>
    </tr>
    {% endfor %}

</table>

{% if msg %}
<script>
    alert("{{msg}}");
</script>
{% endif %}

{% endblock %}